# Hexo Configuration
## Docs: https://hexo.io/docs/configuration.html
## Source: https://github.com/hexojs/hexo/

# Site
title: SL's Blog
subtitle: SL's Blog
description: 梦中做梦，做了个白日梦
key'words: 杂物、乱事分享
author: SL
language: zh-CN
timezone: 'UTC'

# URL
## If your site is put in a subdirectory, set url as 'http://yoursite.com/child' and root as '/child/'
url: https://blog.slqwq.cn/
root: /
permalink: :year/posts/:abbrlink/index.html
permalink_defaults:
pretty_urls:
  trailing_index: true # Set to false to remove trailing 'index.html' from permalinks
  trailing_html: true # Set to false to remove trailing '.html' from permalinks

# abbrlink config
abbrlink:
  alg: crc32  # 算法：crc16(default) and crc32
  rep: hex    # 进制：dec(default) and hex
    
# Directory
source_dir: source
public_dir: public
tag_dir: tags
archive_dir: archives
category_dir: categories
code_dir: downloads/code
i18n_dir: :lang
skip_render:

# hexo-generator-amp
# The following settings is the quick start options.

generator_amp:
  templateDir:  amp-template
  assetDistDir: amp-dist
  logo:
    path:   images/mylogo.png
    width:  600
    height: 60
  substituteTitleImage:
    path:   sample/sample-substituteTitleImage.png
    width:  1024
    height: 800
  warningLog: false   # To display warning, please set true.

# Writing
new_post_name: :title.md # File name of new posts
default_layout: post
titlecase: false # Transform title into titlecase
external_link:
  enable: true # Open external links in new tab
  field: site # Apply to the whole site
  exclude: ''
filename_case: 0
render_drafts: false
post_asset_folder: true
relative_link: false
future: true
highlight:
  enable: true
  line_number: true
  auto_detect: false
  tab_replace: ''
  wrap: true
  hljs: false

# Home page setting
# path: Root path for your blogs index page. (default = '')
# per_page: Posts displayed per page. (0 = disable pagination)
# order_by: Posts order. (Order by date descending by default)
index_generator:
  path: ''
  per_page: 10
  order_by: -date

# Category & Tag
default_category: uncategorized
category_map:
tag_map:

# Metadata elements
## https://developer.mozilla.org/en-US/docs/Web/HTML/Element/meta
meta_generator: true

# Date / Time format
## Hexo uses Moment.js to parse and display date
## You can customize the date format as defined in
## http://momentjs.com/docs/#/displaying/format/
date_format: YYYY-MM-DD
time_format: HH:mm:ss
## Use post's date for updated date unless set in front-matter
use_date_for_updated: false

# Pagination
## Set per_page to 0 to disable pagination
per_page: 10
pagination_dir: page

# Include / Exclude file(s)
## include:/exclude: options only apply to the 'source/' folder
include:
exclude:
ignore:

# Extensions
## Plugins: https://hexo.io/plugins/
## Themes: https://hexo.io/themes/
#RSS订阅
plugin:
- hexo-generator-feed
#Feed Atom
Feed: 
Type: atom
Path: atom.xml
Limit: 20

theme: Butterfly
# sitemap
# 提交谷歌搜索引擎 
sitemap:
    path: sitemap.xml
# 提交百度搜索引擎   
baidusitemap:
    path: baidusitemap.xml

backup:
  type: git
  theme: Butterfly
  message: Backup SL.SL's Blog Files
  repository:
    coding: git@e.coding.net:supermicors/SL-sBlogbackup.git,master

neat_enable: true
# 压缩 html
neat_html:
  enable: false
  # 一些百度、Google 的验证文件需要排除掉
  exclude:
    - '**/baidu*.html'
    - '**/google*.html'
# 压缩 css
neat_css:
  enable: false
  exclude:
    - '**/*.min.css'
    - '**/index.css'
    - '**/var.css'
# 压缩 js
neat_js:
  enable: true
  mangle: true
  output:
  compress:
  exclude:
    - '**/*.min.js'
    - '**/jquery.fancybox.pack.js'
    - '**/index.js'
    - '**/main.js'
    - 'js/main.js'
    - 'js/utils.js'
    - '**/utils.js'

# Deployment
## Docs: https://hexo.io/docs/deployment.html
deploy:
  type: 'git'
  repo:
         coding: https://pt5anua7q7zz:8f1af28f8d37a7a7edac88caba923018bda6e542@e.coding.net/supermicors/xindeboke_jiudeyifeiqi.git,master
         github: https://53b54b123cd23bf624a05e7f2cee5c349faf0c80@github.com/slblog-github/Blog.git,master
branch: master