.card-widget.card-discord
  .card-content
    .item-headline
        i.iconfont.icon-discord(aria-hidden='true')
        span=_p('Discord Server Widget')
iframe(src='https://discordapp.com/widget?id=694860800187432971&theme=dark', width='250', height='300', allowtransparency='true', frameborder='0')