.card-widget.card-web
  .card-content
    .item-headline
      i.fas.fa-globe-asia(aria-hidden="true")
      span= _p('全球访问')
      script(type='text/javascript', src='https://rf.revolvermaps.com/0/0/7.js?i=512ouyauwfp&m=0&c=ff0000&cr1=fff600&sx=0', async='async')
