.card-widget.card-map
  .card-content
    .item-headline
        i.fa.fa-map-marker(aria-hidden="true")
        span=_p('访客信息')
    script(src='/Browsing info.js')
    script(src='https://pv.sohu.com/cityjson?ie=utf-8')
    p
      | &#x60A8;&#x7684;IP:
      script(type='text/javascript').
        document.write(returnCitySN["cip"]+' <br>IP位置:'+returnCitySN["cname"])