script.
  var preloader = {
    endLoading: () => {
      document.body.style.overflow = 'auto';
      document.getElementById('loading').classList.add("loaded")
    },
    initLoading: () => {
      document.body.style.overflow = '';
      document.getElementById('loading').classList.remove("loaded")

    }
  }
  window.addEventListener('load',preloader.endLoading())