h1.page-title(style='display: inline;')= page.title

#bber
.js-pjax
  script(type='text/javascript', src='https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js', data-pjax='')
  script(src='https://cdn.bootcss.com/vue/2.6.11/vue.min.js')
  script(type='text/javascript', src='https://cdn.jsdelivr.net/gh/TencentCloudBase/tcb-js-sdk@master/tcbjs/1.10.10/tcb.js', data-pjax='')

  script(src='https://cdn.jsdelivr.net/gh/buddys/qq-wechat-emotion-parser@master/dist/qq-wechat-emotion-parser.min.js', data-pjax='')

  script.
    const app = tcb.init({
    env: 'bbtalk-1c10ea', //这里是你的环境id
    region: "ap-shanghai"
    })
  script(async='',type='text/javascript', src='https://cdn.jsdelivr.net/gh/zhheo/bber@main/bber.js', data-pjax='')
  style.
   