extends includes/layout.pug

block content
  include ./includes/mixins/post-ui.pug
  #recent-posts.recent-posts
    if theme.gitcalendar.enable
      .recent-post-item(style='width:100%')
        !=partial('includes/third-party/gitcalendar', {}, {cache: true})
    +postUI
    include includes/pagination.pug
