a {
    color: #e59501;
    text-decoration: none;
    word-wrap: break-word;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
    overflow-wrap: break-word;
}