#button {
    display: block;
    background-color: rgb(73, 177, 245);
    color: rgb(255, 114, 66);
    text-align: center;
    margin: 0 30px;
    width: 200px;
    height: 54px;
    min-width: 54px;
    min-height: 54px;
    border-radius: 0px;
    line-height: 3.3rem;
    color: #eff;
}

.go {
    padding: 0;
    font-size: 100%;
    position: relative;
    z-index: 1;
    color: #eff;
    -webkit-transition: color 1s;
    -moz-transition: color 1s;
    -o-transition: color 1s;
    -ms-transition: color 1s;
    transition: color 1s;
}

.go:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: #ff7242;
    content: '';
    -webkit-transition: transform 0.5s ease-out;
    -moz-transition: transform 0.5s ease-out;
    -o-transition: transform 0.5s ease-out;
    -ms-transition: transform 0.5s ease-out;
    transition: transform 0.5s ease-out;
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -o-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    -moz-transform-origin: 0 50%;
    -o-transform-origin: 0 50%;
    -ms-transform-origin: 0 50%;
    transform-origin: 0 50%;
}

.go:hover:before {
    -webkit-transition-timing-function: cubic-bezier(0.45, 1.64, 0.47, 0.66);
    -moz-transition-timing-function: cubic-bezier(0.45, 1.64, 0.47, 0.66);
    -o-transition-timing-function: cubic-bezier(0.45, 1.64, 0.47, 0.66);
    -ms-transition-timing-function: cubic-bezier(0.45, 1.64, 0.47, 0.66);
    transition-timing-function: cubic-bezier(0.45, 1.64, 0.47, 0.66);
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -o-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
}