.card-widget.card-weather
  .card-content
    .item-headline
        i.fa.fa-sun-o(aria-hidden="true")
        span=_p('天气信息')
        #weather-view-he
  script.
   WIDGET = {ID: 'v2EzwHq9Ah'};
  script(type='text/javascript', src='https://apip.weatherdt.com/view/static/js/r.js?v=1111')